/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

/* Typography */
h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

/* Header */
.navbar {
  position: fixed;
  width: 100%;
  /* background-color: red; */
  padding: 30px;
}

.navbar__menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid var(--color-black);
}

.navbar__menu__item {
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 8px;
  font-size: var(--font-regular);
  color: var(--color-grey);
}

.navbar__menu__item.active {
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
}
